/*Limpar formatações padrões*/
{
	margin: 0;
	padding: 0;
}

body {
	font-size: 1em;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	background: #e6e6e6;
}


.conteudo{
    background: blue;
    border: 1px solid gray;
    width: 200px;
    height: 200px;
    float: left;
    margin: 10px;
}

.conteudo0{
    background: red;
    border: 1px solid gray;
    width: 200px;
    height: 250px;
    float: right;
    margin: 10px;
}

.clear {
    clear: both;
}